
.icon-01:before { content: '\e800'; } /* '' */
.icon-02:before { content: '\e801'; } /* '' */
.icon-app:before { content: '\e802'; } /* '' */
.icon-chatbots:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-feedback:before { content: '\e805'; } /* '' */
.icon-msn:before { content: '\e806'; } /* '' */
.icon-sn:before { content: '\e807'; } /* '' */
.icon-step_01:before { content: '\e808'; } /* '' */
.icon-step_02:before { content: '\e809'; } /* '' */
.icon-step_03:before { content: '\e80a'; } /* '' */
.icon-step_04:before { content: '\e80b'; } /* '' */
.icon-step_05:before { content: '\e80c'; } /* '' */
.icon-step_06:before { content: '\e80d'; } /* '' */